[submodule "agave"]
	path = agave
	url = https://github.com/dotslashapaar/agave.git
	branch = colo
[submodule "jito-protos/protos"]
	path = jito-protos/protos
	url = https://github.com/jito-labs/mev-protos.git
